<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymelea-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.1.8/semantic.min.css}"/>
  <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>

  <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/Semantic-UI/2.1.8/semantic.min.js}"></script>
  <script th:src="@{/resources/lib/jquery.sliphover.min.js}"></script>

  <link rel="stylesheet" href="/static/resources/lib/Semantic-UI/2.1.8/semantic.min.css"/>
  <script src="/static/resources/lib/jquery.min.js"></script>
  <script src="/static/resources/lib/Semantic-UI/2.1.8/semantic.min.js"></script>

  <title>ダッシュボード</title>
</head>
<body>
  <a th:href="@{/users}">ユーザ一覧</a>
</body>
</html>